<div *ngFor="let gameTable of gameTables">
  <table class="table table-inverse" style="table-layout: fixed;">
    <thead><th style="border:none"><strong>{{gameTable.header}}</strong></th></thead>
    <tbody>
      <tr *ngFor="let game of gameTable.list | async">
        <td>{{ game.name }}</td>
        <td>{{ game.platform }}</td>
        <td>{{ game.date }}</td>
        <td *ngIf="editMode" style="border:none">
          <a (click)="removeItem('Tables/GameList/1st', game.key)" style="color:#e05122;
             padding-left: 20px;">Remove</a>
        </td>
      </tr>
      <tr *ngIf="editMode">
        <td>
          <mat-form-field style="width:100%" floatLabel="always">
            <mat-label style="color:white">Game Title</mat-label>
            <input #inputName matInput placeholder="Kiseki">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field style="width:100%" floatLabel="always">
            <mat-label style="color:white">Platform</mat-label>
            <input #inputPlatform matInput placeholder="PS4/NS/etc">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field style="width:100%" floatLabel="always">
            <mat-label style="color:white">Release Date</mat-label>
            <input #inputDate matInput placeholder="2020.01.01 or TBD or Released">
          </mat-form-field>
        </td>
        <td style="border:none; vertical-align:middle;">
          <a (click)="addItem(gameTable.table, inputName.value, inputPlatform.value, inputDate.value)"
             style="padding-left:20px; cursor:pointer; color:#009111;">Add</a>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
</div>